<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Współdzielona Tablica</title>
  </head>
  <body>
    <h1>Wybierz obszar</h1>
    <form action="/create_area" method="POST">
      <label for="area_id"
        >Podaj identyfikator tablicy (lub pozostaw puste dla losowego):</label
      >
      <input type="text" id="area_id" name="area_id" />
      <button type="submit">Przejdź do obszaru</button>
    </form>
  </body>
</html>
